.counterContainer {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterContainer button {
    height: 3rem;
    width: 3rem;
    background-color: brown;
}